<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Secret Room</title>
    <meta th:replace="index.html :: templateMeta"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: templateHeader">Header TODO</header>
<section>
    <h1 th:text="|Welcome ${name}!|">Wilcome John Smith</h1>
    <h3 th:text="|Your number is ${number}!|">Your number is 0</h3>
</section>
<footer th:replace="footer.html :: templateFooter">Footer TODO</footer>
</body>
</html>